
<head>
  
    <title>{{title}}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      pre{
        background-color: black;
        color: white;
      }
      code{
        padding: 5px;
      }
      header {
        background-color: {{color}};
        color: white;
        padding: 20px;
        text-align: center;
      }
      header h1 {
        margin: 0;
      }
      main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        
      }
      img {
        max-width: 100%;
        transform: translateX(150px);
        margin-bottom: 50px;
      }
      h1, h2 {
        animation: fadeIn 2s;
      }
      p, pre {
        animation: slideIn 2s;
      }
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      @keyframes slideIn {
        from {transform: translateX(-100px); opacity: 0;}
        to {transform: translateX(0); opacity: 1;}
      }
      .container{
        height: 40vh;
        width:30vw;
        
        
      }
    </style>
</head>
<body>
    <main>
        <img class='container' src="{{image}}" >
    <p>{{content1}}</p>
    <p>{{content2}}</p>
    <h2>{{heading1}}</h2>
    <p>{{content3}}</p>
    <h2>{{heading2}}</h2>
    <p>{{content4}}</p>
    <p>{{content5}}</p>
    <pre><code>{{code1}}</code></pre>
    <pre><code>{{code2}}</code></pre>
    <pre><code>{{code3}}</code></pre>
    <p>{{content6}}</p>
</body>
</main>